<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Search Solr</title>
</head>
<body>
<div class="container">
    <h1>Search Solr:</h1>

    <form class="form-inline" action="/" method="post">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="searchTerm" value="" placeholder="Enter search term(s)">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    <div class="numresults" style="font-weight: bold;">
        {% if numresults is not none %}
        Number of Results:
        <span style="margin-left: 12px;">{{ numresults }}</span>
        {% endif %}
    </div>

    {% if results and results|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Contributors</th>
            <th>Publication Date</th>
        </tr>
        </thead>
        <tbody>
        {% for document in results %}
        <tr>
            <td>{% if document['title'] %}{{ document['title'][0] }}{% endif %}</td>
            <td>{% if document['contributors']%}{{ document['contributors'][0] }}{% endif %}</td>
            <td>{% if document['publication_date']%}{{ document['publication_date'][0] }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</body>
</html>